<div class="widget-wrap">
  <h3 class="widget-title">Link</h3>
    <div class="widget">
      <ul id="category-list">
        <li><a target="_blank" title="我的Github" href="https://github.com/wusuopu">@Github</a></li>
        <li><a target="_blank" title="我的微博" href="http://www.weibo.com/u/1768691343">@Weibo</a></li>
        <li><a target="_blank" title="我的Twitter" href="https://twitter.com/longchangjin">@Twitter</a></li>
      </ul>
    </div>
</div>
